{# this.title and this.subtitle are enclosed in <p> tags #}
{# this makes styling slide text really difficult #}
{# tpo/web/community#246 #}
{% macro strip_p_tag(text) %}
  {{- (text|string)[3:-5] }}
{% endmacro -%}

{% if this.slide_layout == "title-slide" %}
  <section class="title" data-background-color="white" {% if this.background_image %} data-background-image="{{ this.background_image|asseturl }}" data-background-position="right bottom" data-background-size="3em" {% endif %} >
    <h3>{{ strip_p_tag(this.title) }}</h3>
    <hr class="dark" />
    {% if this.subtitle %}
      <h4>{{ strip_p_tag(this.subtitle) }}</h4>
    {% endif %}
    {% if this.author %}
      <h5>{{ strip_p_tag(this.author) }}</h5>
    {% endif %}
  </section>
{% elif this.slide_layout == "image_left" %}
  <section class="slide-image-left" {% if this.background != "white" %} data-background-color="{{ this.background }}" {% else %} data-background-color="white" {% endif %} >
    <h2>{{ strip_p_tag(this.title) }}</h2>
    {% if this.image %}
        <div style="display: inline-block; vertical-align: top; width: 46%; float: left;"><img data-src="{{ this.image|url }}"></div>
    {% endif %}
    <div style="display: inline-block; width: 46%;">
        {{ this.description }}
    </div>
  </section>
{% elif this.slide_layout == "image_right" %}
  <section class="slide-image-right" {% if this.background != "white" %} data-background-color="{{ this.background }}" {% else %} data-background-color="white" {% endif %} >
    <h2>{{ strip_p_tag(this.title) }}</h2>
    <div style="display: inline-block; width: 46%;">
        {{ this.description }}
    </div>
    {% if this.image %}
        <div style="display: inline-block; vertical-align: top; width: 46%; float: right;"><img data-src="{{ this.image|url }}"></div>
    {% endif %}
  </section>
{% else %}
  <section {% if this.background != "white" %} data-background-color="{{ this.background }}" {% else %} data-background-color="white" {% endif %} >
    <h2>{{ strip_p_tag(this.title) }}</h2>
    {{ this.description }}
    {% if this.image %}
        <img data-src="{{ this.image }}">
    {% endif %}
  </section>
{% endif %}
